<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Upload Datasets</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/upload.css') }}">
    </head>
    <body>
        <header>
            <h1>Upload Dataset</h1>
            {% include 'nav.html' %}
        </header>

        <main>
            <h2>Upload Dataset</h2>
            {% if message %}
                <h3 style="text-align: center;">{{ message }}!</h3>
            {% else %}
                <form method="POST" enctype="multipart/form-data">

                    <label for="households_file">Upload Households CSV:</label>
                    <input type="file" id="households_file" name="households_file" required>
                        
                    <label for="transactions_file">Upload Transactions CSV:</label>
                    <input type="file" id="transactions_file" name="transactions_file" required>

                    <label for="products_file">Upload Products CSV:</label>
                    <input type="file" id="products_file" name="products_file" required>

                    <button type="submit">Upload</button>
                </form>
            {% endif %}
        </main>

        {% include 'footer.html' %}
    </body>
</html>
